/**setting:categorycolors**/

/**setting:logo**/

/**setting:customcss**/

#settingsnav {
  margin-top: 2em;
}

#page-site-index #page-header {
  background: linear-gradient(0deg, rgba(27,35,66,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
}

//TODO Clean up this selector
.theme-charteredcollege #region-main .modtype_label .no-overflow a:not(.btn):not(.dropdown-item):not(._blanktarget):not(.mypd-due-date):not(.yui3-button):not(.active):not(.disabled),
.theme-charteredcollege #region-main .summary .no-overflow a:not(.btn):not(.dropdown-item):not(._blanktarget):not(.mypd-due-date):not(.yui3-button):not(.active):not(.disabled),
.theme-charteredcollege #region-main .pagemod-content a:not(.mypd-action-icon),
.theme-charteredcollege #region-main .specificfeedback a
.theme-charteredcollege #region-main .specificfeedback a,
#page-mod-lesson-view #region-main .contents a {
  color: $brand-primary;
  border-bottom: 1px solid $brand-secondary;

  &:focus,
  &:hover {
    color: darken($brand-secondary, 8%);
    border-bottom: 2px solid $brand-primary;
    text-decoration: none;
  }
}