/**setting:categorycolors**/

/**setting:logo**/

/**setting:customcss**/

#settingsnav {
  margin-top: 2em;
}

#page-site-index #page-header {
  background: linear-gradient(0deg, rgba(27,35,66,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
}

//TODO Clean up this selector
.theme-charteredcollege #region-main .modtype_label .no-overflow a:not(.btn):not(.dropdown-item):not(._blanktarget):not(.mypd-due-date):not(.yui3-button):not(.active):not(.disabled),
.theme-charteredcollege #region-main .summary .no-overflow a:not(.btn):not(.dropdown-item):not(._blanktarget):not(.mypd-due-date):not(.yui3-button):not(.active):not(.disabled),
.theme-charteredcollege #region-main .pagemod-content a:not(.charteredcollege-action-icon),
.theme-charteredcollege #region-main .specificfeedback a
.theme-charteredcollege #region-main .specificfeedback a,
#page-mod-lesson-view #region-main .contents a {
  color: $brand-primary;
  border-bottom: 1px solid $brand-secondary;

  &:focus,
  &:hover {
    color: darken($brand-secondary, 8%);
    border-bottom: 2px solid $brand-primary;
    text-decoration: none;
  }
}

//Accordion Styles
.md-accordion {

	i {
		float:right;
	}
	.card {
		border: 0px;
	}
	.card-header {
		background-color: transparent;
	}

	[data-toggle="collapse"] .fa:before {
		content: "\f0d8";
	}

	[data-toggle="collapse"].collapsed .fa:before {
		content: "\f0d7";
	}
}

//Basic Styles

b, strong {
	font-weight: 600;
}

// Not enrolled course page.

#page-enrol-index {

	#region-main {
		h2:first-of-type {
			display:none;
		}
	}
	hr {
		display:none;
	}

	.courseimage {
		display:none;
	}

	.coursebox {
		border-bottom: 2px solid $brand-secondary;

		.info {
			display:none;
		}
		.content .summary {
			width: 100%;
		}
	}

	#notice {
		background-color: #ffffff;
		font-size: 1em;
	}
}

// Front page Last Access Course section

.frontpagepersonalisation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 500px;
	align-items: center;
	width: 100%;
	margin:auto;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(27,35,66,1) 40%);
	overflow: hidden;
	padding: 1em 4%;

	.lastaccessedcourse {
		width: 65%;
		background-color: transparent;
		height:100%;
		padding: 2em;
		color: #333;
	}
	.upcomingdeadlines {
		width: 30%;
		height: 100%;
		padding: 2em 0 1rem;
		color: #111;

		.upcomingdisplay {
			background-color: #f8f8f8;
			padding: 1rem;
			height: 100%;
			-webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
			-moz-box-shadow: 0 2px 12px rgba(0, 0, 0, .5);
			box-shadow: 0 1px 2px #000;
			overflow: hidden;
			overflow-y: scroll;
			h4 {
				color: #222222
			}
		}
	}
}

#mod_quiz_navblock {
	.othernav {
		display:none;
	}
}

.charteredcollege_module_metadata {
	margin-left: 47px;
	padding-bottom: 0.25em;
	color: $brand-secondary;
}