<div id="charteredcollege-pm" class="charteredcollege-pm-login-form" tabindex="-1">
    <div id="charteredcollege-pm-inner">

        <header id="charteredcollege-pm-header" class="clearfix">
            <div class="pull-right">
                <a id="charteredcollege-pm-close" class="js-charteredcollege-pm-trigger charteredcollege-action-icon charteredcollege-icon-close" href="#">
                        <small>{{#str}}closebuttontitle{{/str}}</small>
                </a>
            </div>
            <h1>{{#str}}login{{/str}}</h1>
        </header>
        <div class="card">
            <div class="card-block">
                <div class="card-body">
                    <div class="row justify-content-md-center">
                        <div class="col-md-5 left-side">
                            <h5>Members Login</h5>
                            <p>Chartered College of Teaching members should use the button below to login to MyPD</p>
                            {{#altlogins}}
                                <div class="charteredcollege-pm-content">
                                    {{{.}}}
                                </div>
                            {{/altlogins}}
                        </div>
                        <div class="col-md-5 right-side">
                            <h6>Visitor Login</h6>
                            <p>If you have been provided with a specific username and password for our Early Career Teacher or Chartered Teacher programme, please login here.</p>
                            {{#baselogin}}
                                <div>
                                    {{{.}}}
                                </div>
                            {{/baselogin}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
